{% extends "bxx.html" %}
{% block style %}
<link rel="stylesheet" href="../public/css/header.css">
{% endblock %}


{% block content %}

<div class="dev">
    <div class="header">
        <img class="header-jt" src="{{fh}}" alt="1">
        <h2>{{mkbxx}}</h2>
    </div>
    <div class="conterne">
        <img class="logo" src="{{move}}" alt="1">
        <ul>
            <li class="shang"> {{yrydbxx}} </li>
            <li class="xia"> {{sj1}} </li>
        </ul>
        <span class="chengshi">{{cshz1}}</span>
        <hr class="xiahuaxian">
        <br>
        <img class="logo" src="{{electricity}}" alt="1">
        <ul>
            <li class="shang"> {{bxxdl}} </li>
            <li class="xia"> {{sj2}}</li>
        </ul>
        <span class="chengshi">{{csgd}}</span>
        <hr class="xiahuaxian">
        <br>
        <img class="logo" src="{{modify}}" alt="1">
        <ul>
            <li class="shang"> {{xgpz}} </li>
            <li class="xia"> {{sj3}}</li>
        </ul>
        <span class="chengshi">{{cssh1}}</span>
        <hr class="xiahuaxian">
        <br>
        <img class="logo" src="{{electricity}}" alt="1">
        <ul>
            <li class="shang">{{bxxdl}} </li>
            <li class="xia">{{sj4}}</li>
        </ul>
        <span class="chengshi">{{chsh2}}</span>
        <hr class="xiahuaxian">
        <br>
        <img class="logo" src="{{move2}}" alt="1">
        <ul>
            <li class="shang">{{yrydbxx}}</li>
            <li class="xia">{{sj5}}</li>
        </ul>
        <span class="chengshi">{{cshz2}}</span>
        <hr class="xiahuaxian">
        <br>
        <img class="logo" src="{{move3}}" alt="1">
        <ul>
            <li class="shang">{{yrydbxx}}</li>
            <li class="xia">{{sj6}}</li>
        </ul>
        <span class="chengshi">{{cshz}}</span>
        <hr class="xiahuaxian">
        <br>
    </div>



    
</div>
{% endblock %}
{% block js %}
<script src="../public/js/fontsizeset.js">

</script>
{% endblock %}