<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/add.css">
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="home">
        <div class="AddHeader">
            <span class="funt">{{word}}</span>
        </div>
        <div class="footer">
            <img class="tp" src="/public/img/applogo.png" alt="11">
            <span class="tjbxx">{{tjbxx}}</span>
            <span class="sys">{{sys}}</span>
            <a class="tz" href="/head">{{word1}}</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    {% block js %}
    <script src="/public/js/fontsizeset.js"></script>
    {% endblock %}
</body>

</html>