<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/boxs.css">
</head>
<body>
    <div id="box">
        <div class="box-header">
            <ul>
                <li>
                    <img class="pic1" src="../public/image/back@2x.png" alt="">
                    <span class="word">{{word}}</span>
                    <img class="pic2" src="../public/image/more@2x.png" alt="">
                </li>
            </ul>
        </div>
        <div class="box-banner">
            <div class="banner-top">

            </div>
            <ul class="lists">
                <li></li>
            </ul>
        </div>
        <div class="box-content">

        </div>
        <div class="box-footer">

        </div>
    </div>
    <script src="../public/js/fontsizeset.js"></script>
</body>
</html>