<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="../public/css/home.css">
    <script src="../public/js/fontsizeset.js"></script>
    {% block style %}
    {% endblock %}
</head>

<body>
    {% block content %}
    <div id="big">
        <div id="Header">
            <img src="./../public/img/applogo.png" alt="">
        </div>
        <div id="Body">
            <form class="Name" action="/Verification" method="POST">
                <label class="name">{{name}}</label>
                <input type="text" placeholder="请输入用户名" maxlength="8" class="User_name" name="username">
                <div class="Pass">
                    <br>
                    <label class="pass">{{pass}}</label>
                    <input type="password" placeholder="请输入密码" maxlength="12" class="Input_password" name="password">
                </div>
                <input type="submit" value="登录" class="Register">
            </form>
        </div>
        <div id="Footer">
            <div class="zhuce">
                <a href='/register' class="register">{{register}}</a>
                <a href='/Forget_password' class="Forget_password">{{Forget_password}}</a>
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>