{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" href="../public/css/user.css">
<div class="box">
    <img class="img1" src="../public/img/back.png" alt="">
    <span class="span">{{span}}</span>
    <img class="img2" src="../public/img/add.png" alt="">
</div>
<div class="box1">
    <span class="span1">{{span1}}</span>
    <img class="img3" src="../public/img/addx.png" alt="">
</div>
<div class="listdiv1">
    <ul class="listul1">
        {% for item in list %}
        <li class="listli1">
            <div class="list1">
                <img class="listimg1" src="../public/img/tab_associated_pre - 副本.png">
                <span class="listspan1">{{item}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- <ul>
        {% for item in students %}
        <li>{{item}}</li>
        {% endfor %}
    </ul> -->
{% endblock %} {% block js %}
<script src="../public/js/fontsizeset.js"></script>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/user.js"></script>
{% endblock %}