* {
    padding: 0;
    margin: 0;
}

.AddHeader {
    width: 100%;
    height: 0.88rem;
    background-color: black;
}

.AddHeader span {
    color: #ffffff;
    float: left;
    color: white;
    font-size: 0.3rem;
    margin-left: 2.5rem;
    margin-top: 0.2rem;
}

.AddFooter {
    width: 100%;
    height: 100%;
}

.AddFooter .tp {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1.8rem;
    margin-left: 2.5rem;
    float: left;
}

.AddFooter .tjbxx {
    clear: both;
    float: left;
    color: #010101;
    margin-left: 2.5rem;
    margin-top: 0.2rem;
    font-size: 0.35rem;
}

.AddFooter .sys {
    margin-left: 1rem;
    margin-top: 0.27rem;
    font-size: 0.25rem;
    float: left;
    color: #9e9e9e;
}

.AddFooter .tz {
    float: left;
    font-size: 0.26rem;
    text-decoration: none;
    margin-top: 4.89rem;
    margin-left: 2.5rem;
    color: #068cff;
}