* {
    margin: 0;
    padding: 0;
}

/* #big{
    width: 100%;
    height: 100%;
} */
#tou {
    width: 100%;
    height: 0.93rem;
    background-color: black;
}

#tou .Forpic {
    width: 0.23rem;
    height: 0.35rem;
    font-size: 0.37rem;
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.22rem;
}

#tou .Register {
    color: #ffffff;
    font-size: 0.34rem;
    float: left;
    margin-left: 2.49rem;
    line-height: 0.93rem;
}

#ForBody {
    width: 100%;
    /* height: 12.06rem; */
    background-color: rgb(255, 255, 255);
}

#ForBody .Tell {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-top: 0.6rem;
    box-sizing: border-box;
}

#ForBody .Tell .tell {
    float: left;
    font-size: 0.3rem;
    line-height: 1rem;
    margin-left: 0.3rem;
}

#ForBody .Tell .number {
    float: left;
    border: 0px;
    /* width: 5.3rem; */
    height: 100%;
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
}

#ForBody .Captcha {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
}

#ForBody .Captcha .Vc {
    float: left;
    font-size: 0.3rem;
    line-height: 1rem;
    margin-left: 0.3rem;
}

#ForBody .Captcha .yzm {
    float: left;
    border: 0px;
    width: 3.2rem;
    height: 100%;
    margin-left: 0.6rem;
    /* margin-top: 0.3rem; */
    font-size: 0.33rem;
}

#ForBody .Captcha .btn {
    float: right;
    color: #0395ff;
    border: 0px;
    background-color: #fff;
    font-size: 0.31rem;
    margin-top: 0.2rem;
    width: 2.2rem;
    height: 0.6rem;
}

#ForBody .Password {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
}

#ForBody .Password .password {
    float: left;
    font-size: 0.3rem;
    line-height: 1rem;
    margin-left: 0.3rem;
}

#ForBody .Password .New_pass {
    float: left;
    border: 0px;
    width: 2.3rem;
    height: 100%;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
}

#ForBody a {
    text-decoration: none
}

#ForBody .Register {
    width: 90%;
    height: 0.88rem;
    background-color: #0091fe;
    margin-top: 0.58rem;
    margin-left: 0.26rem;
    border-radius: 2%;
    color: #fff;
    font-size: 0.33rem;
    line-height: 0.88rem;
    text-align: center;
}