* {
    margin: 0;
    padding: 0;
}

/* #big{
    width: 100%;
    height:100%;
} */
#Header {
    width: 100%;
    height: 3.8rem;
}

#Header img {
    width: 1 .82rem;
    height: 1.82rem;
    margin-top: 1.24rem;
    margin-left: 2.34rem;
}

#Body {
    width: 100%;
    height: 2rem;
}

#Body .Name {
    width: 100%;
    height: 1.01rem;
    border-bottom: 1px solid #e4e4e6;
    border-top: 1px solid #e4e4e6;
    box-sizing: border-box;
}

#Body .Name .name {
    font-size: 0.3rem;
    float: left;
    line-height: 1rem;
    margin-left: 0.44rem;
}

#Body .Name .User_name {
    font-size: 0.27rem;
    float: left;
    margin-left: 0.47rem;
    border: 0px;
    width: 71%;
    height: 100%;
}
#Body .Pass {
    width: 100%;
    height: 0.99rem;
    border-bottom: 1px solid #e4e4e6;
    box-sizing: border-box;
}

#Body .Pass .pass {
    font-size: 0.3rem;
    float: left;
    line-height: 1rem;
    margin-left: 0.44rem;
}

#Body .Pass .Input_password {
    font-size: 0.27rem;
    float: left;
    margin-left: 0.77rem;
    border: 0px;
    width: 71%;
    height: 100%;
}

#Footer {
    width: 100%;
    /* height: 7.13rem; */
}

#Footer .Register {
    width: 92%;
    height: 0.88rem;
    background-color: #0091fe;
    margin-top: 0.58rem;
    margin-left: 0.26rem;
    border-radius: 2%;
    color: #fff;
    font-size: 0.33rem;
    line-height: 0.88rem;
    text-align: center;
    border: 0;
}

#Footer .zhuce {
    width: 100%;
    height: 1rem;
}

#Footer .zhuce .register {
    float: left;
    font-size: 0.3rem;
    text-decoration: none;
    color: black;
    line-height: 1rem;
    margin-left: 0.26rem;
    color: #7c7c7e;
}

#Footer .zhuce .Forget_password {
    float: left;
    font-size: 0.3rem;
    text-decoration: none;
    color: black;
    line-height: 1rem;
    margin-left: 3.5rem;
    color: #7c7c7e;
}