* {
    margin: 0;
    padding: 0;
}

.Openh {
    width: 100%;
    height: 0.88rem;
    background-color: black;
}

.Openh img {
    float: left;
    font-size: 0.43rem;
    margin-top: 0.3rem;
    margin-left: 0.22rem;
    line-height: 0.88rem;
    width: 0.23rem;
    height: 0.35rem;
}

.Openh p {
    float: left;
    font-size: 0.34rem;
    color: #ffffff;
    line-height: 0.88rem;
    margin-left: 2rem;
}

/* .Openb {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
} */

.Openb .Opendoor {
    width: 100%;
    height: 9.4rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.Openb .Opendoor img {
    width: 0.9rem;
    height: 0.9rem;
    float: left;
    margin-top: 0.25rem;
    margin-left: 0.3rem;
}
.Openb .Opendoor ul{
    width: 100%;
}
.Openb .Opendoor li {
    width: 100%;
    height: 1.42rem;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    list-style: none;
}

.Openb .Opendoor .door {
    font-size: 0.3rem;
    float: left;
    margin-top: 0.27rem;
    margin-left: 0.24rem;
}

.Openb .Opendoor .door .time {
    color: #9c9c9c;
    font-size: 0.24rem;
}

.Openb .Opendoor .address {
    color: #9d9d9d;
    font-size: 0.3rem;
    margin-left: 3.15rem;
    float: left;
    line-height: 1.42rem;
}
.s2{
    color: #0091fe;
}