* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 0.9rem;
    background-color: black;
}

.pic {
    width: 0.56rem;
    height: 0.56rem;
    float: left;
    margin-left: 0.3rem;
    margin-top: 0.15rem;
}

.src {
    width: 0.56rem;
    height: 0.56rem;
    float: left;
    color: white;
    margin-left: 2.7rem;
    margin-top: 0.15rem;
}

.bt1 {
    font-size: 22px;
    color: white;
    float: left;
    margin-top: 0.2rem;
    margin-left: 2rem;
}

.banner {
    width: 100%;
    height: 3.84rem;
}

.i1 {
    height: 3.8rem;
    width: 100%;
}

.container {
    width: 100%;
    height: 5.85rem;
}

.pic5 {
    width: 1.8rem;
    height: 1.8rem;
    float: left;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.bt {
    font-size: 0.3rem;
    float: left;
    clear: both;
    color: black;
    margin-left: 2.5rem;
    margin-top: 0.4rem;
}

.sj {
    font-size: 0.24rem;
    float: left;
    clear: both;
    color: #b9b9b9;
    margin-left: 2.37rem;
    margin-top: 0.2rem;
}

.footer {
    width: 100%;
    height: 0.8rem;
    background-color: #0092ff;
}

.sp5 {
    color: white;
    font-size: 0.3rem;
    float: left;
    margin-left: 2.5rem;
    line-height: 0.8rem;
}