* {
    margin: 0;
    padding: 0;
}

#RegHeader {
    width: 100%;
    height: 0.93rem;
    background-color: black;
}

#RegHeader .Regimg {
    width: 0.23rem;
    height: 0.35rem;
    font-size: 0.37rem;
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.22rem;
}

#RegHeader .Regzhuce {
    color: #ffffff;
    font-size: 0.34rem;
    float: left;
    margin-left: 2.5rem;
    line-height: 0.93rem;
}

#RegBody {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#RegBody .Tell {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-top: 0.6rem;
    box-sizing: border-box;
}

#RegBody .Tell .Phone {
    float: left;
    font-size: 0.3rem;
    margin-top: 0.46rem;
    margin-left: 0.3rem;
}

#RegBody .Tell .Num {
    float: left;
    border: 0px;
    width: 4.3rem;
    height: 0.6rem;
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
}

#RegBody .Tell .mm {
    font-size: 0.2rem;
    display: inline;
    color: red;
    margin-left: -4.3rem;
}

#RegBody .Captcha {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
}

#RegBody .Captcha .Yzm {
    float: left;
    font-size: 0.3rem;
    margin-top: 0.46rem;
    margin-left: 0.3rem;
}

#RegBody .Captcha .inputYzm {
    float: left;
    border: 0px;
    width: 2.6rem;
    height: 0.6rem;
    margin-left: 0.6rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
}

#RegBody .Captcha #btn {
    float: left;
    color: #0395ff;
    border: 0px;
    background-color: #fff;
    font-size: 0.28rem;
    margin-top: 0.3rem;
    width: 2rem;
    height: 0.6rem;
}

#RegBody .Password {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
}

#RegBody .Password .Cipher {
    float: left;
    font-size: 0.3rem;
    margin-top: 0.46rem;
    margin-left: 0.3rem;
}

#RegBody .Password .newCipher {
    float: left;
    border: 0px;
    width: 4.3rem;
    height: 0.6rem;
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
}

#RegBody .Register {
    width: 92%;
    height: 0.88rem;
    background-color: #0091fe;
    margin-top: 0.58rem;
    margin-left: 0.26rem;
    border-radius: 2%;
    color: #fff;
    font-size: 0.33rem;
    line-height: 0.88rem;
    text-align: center;
}

#RegBody .Ystk {
    width: 100%;
    height: 0.33rem;
    margin-top: 3.9rem;
}

#RegBody .Ystk .tongyi {
    color: #9c9c9c;
    font-size: 0.3rem;
    margin-left: 1.6rem;
    float: left;
}

#RegBody .Ystk .yinsi {
    color: #008dfd;
}

#RegBody a {
    text-decoration: none;
}