<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/details.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div class="Header">
        <a href="/box">
            <img src="../public/img/back.png" alt>
        </a>
        <p>{{box}}</p>
    </div>
    <div class="Detabody">
        <div class="body_top">
            <div class="top">
                <p class="boxname">{{boxname}}<span class="miko">{{MIKO}}</span></p>
                <img src="../public/img/back-2.png" alt="">
            </div>
            <div class="bottom">
                <p class="brand">{{brand}}<span class="sanxing">{{sanxing}}</span></p>
            </div>
        </div>
        <div class="body_bottom">
            <div class="number">
                <p class="serial">{{serial}}</p>
                <h5 class="serial_number">{{number}}</h5>
            </div>
            <div class="Ip">
                <p class="equipment_Ip">{{Ip}}</p>
                <h5 class="Ip_number">{{Ip_number}}</h5>
            </div>
            <div class="firmware">
                <p class="Firmware_version">{{Firmware_version}}</p>
                <h5 class="Edition">{{Edition}}</h5>
            </div>
            <div class="Connect">
                <p class="state">{{state}}</p>
                <h5 class="true">{{Yes}}</h5>
            </div>
        </div>
    </div>
</body>

</html>