<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>忘记密码</title>
    <link rel="stylesheet" href="../public/css/Forget_password.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div id="big">
        <div id="tou">
            <a href="/home">
                <img src="./../public/img/back.png" class="Forpic">
            </a>
            <span class="Register">{{Register}}</span>
        </div>

        <div id="ForBody">
            <div class="Tell">
                <label class="tell">
                    {{tell}}
                </label>
                <form action>
                    <input type="number" placeholder="请输入手机号" class="number" maxlength=12>
                    <span class="mm">{{mm}}</span>
                </form>
            </div>
            <div class="Captcha">
                <label class="Vc">
                    {{Vc}}
                </label>
                <input type="text" placeholder="请输入验证码" class="yzm" maxlength=6>
                <input type="button" id="btn" value="获取验证码" onclick="sendemail()" />
            </div>
            <div class="Password">
                <label class="password">
                    {{pass}}
                </label>
                <form>
                    <input type="password" placeholder="请输入新密码" class="New_pass">
                </form>
            </div>
            <a href="/home">
                <div class="Register">{{Register}}</div>
            </a>
        </div>
    </div>
    <script src="../public/js/jquery.js"></script>
    <script>
        $("input").focus(function() {
            $(this).css("background-color", "#cccccc");
        });

        $("input").blur(function() {
            $(this).css("background-color", "#ffffff");
        });

        let reg = /^[1][3,4,5,7,8][0-9]{9}$/;
        $(".number").blur(function() {
            var password = $(".number").val();
            if (reg.test(password)) {
                $(".mm").text("");
            } else {
                $(".mm").text("请输入正确的手机号");
            }
        })



        var countdown = 3;

        function sendemail() {
            var obj = $("#btn");
            settime(obj);

        }

        function settime(obj) { //发送验证码倒计时
            if (countdown == 0) {
                obj.attr('disabled', false);
                //obj.removeattr("disabled"); 
                obj.val("重新获取验证码");
                countdown = 3;
                return;
            } else {
                obj.attr('disabled', true);
                obj.val("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                settime(obj)
            }, 1000)
        }
        $('.Register').click(function() {
            alert("注册成功")
        })
    </script>
</body>

</html>