<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/loign.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div id="LoignHeader">
        <a href="/page">
            <img src="../public/img/back.png" alt="" class="back">
        </a>
    </div>
    <div id="LoignBody">
        <img src="../public/img/LoignBody.jpg" alt="" class="Loigpic">
    </div>
    <div id="LoignFooter">
        <a href="/home">
            <p class="Out">{{Sign_out}}</p>
        </a>
    </div>
</body>

</html>