* {
    padding: 0;
    margin: 0;
}

.AddHeader {
    width: 100%;
    height: 0.88rem;
    background-color: black;
}

.AddHeader span {
    color: #ffffff;
    float: left;
    color: white;
    font-size: .32rem;
    margin-left: 2.4rem;
    margin-top: 0.2rem;
}

.AddFooter {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.AddFooter .tjbxx {
    color: #010101;
    float: left;
    margin-left: 2.1rem;
    font-size: 0.45rem;
}

.AddFooter .tp {
    margin-top: 1.8rem;
    margin-left: 2.6rem;
}

.AddFooter .sys {
    margin-left: 0.6rem;
    margin-top: 0.27rem;
    font-size: 0.3rem;
    float: left;
    color: #9e9e9e;
}

.AddFooter .tz {
    float: left;
    font-size: 0.35rem;
    text-decoration: none;
    margin-top: 4.89rem;
    margin-left: 2.3rem;
    color: #068cff;
}